<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Transit</title>
        <style>
            #paper {
                background: #eee;
            }

            svg {
                background: #aaa;
            }
        </style>
    </head>
    <body>
        <ul>
            <li>Now: {{ .Now }}</li>
            <li>Transit: {{ .Then }}</li>
        </ul>
        <div id="paper"></div>

        <script src="astrochart.min.js"></script>
        <script type="text/javascript">
            var dataRadix = {
                planets: {
            {{range .PlanetsNow }}
                    {{ .Name }}: [{{ .Position }}],
            {{end}}

                },
                cusps:  {{ .HousesNow }},
            }

            var dataTransit = {
                planets: {
            {{range .PlanetsThen }}
                    {{ .Name }}: [{{ .Position }}],
            {{end}}
                },
                cusps:  {{ .HousesThen }},
            }

            window.onload = function () {
                var chart = new astrology.Chart('paper', 800, 800, { MARGIN: 100, SYMBOL_SCALE: 0.8 })
                var radix = chart.radix(dataRadix)

                // Aspect calculation
                // default is planet to planet, but it is possible add some important points:
                radix.addPointsOfInterest({ As: [ {{ .Ascendant }} ], Mc: [ {{ .Mc }} ] })

                var transit = radix.transit(dataTransit)
                transit.aspects()
            }
        </script>
    </body>
</html>